FROM node:slim
USER root
RUN apt update -y && apt install -y curl jq gettext bash
RUN npm i -g pnpm

COPY npmrc.template /root/.npmrc
COPY npmrc.template /home/node/.npmrc

RUN mkdir /app
RUN chown -R node /app
WORKDIR /app
